.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 200px;
  border-radius: 50%;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.py-5 {
  padding-bottom: 0 !important;
}

.dog {
  border-radius: 50%;
  margin-top: 100px;
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.HeroText {
  padding-bottom: 50px;
  font-size: 4rem;
}

.Intro {
  align-self: flex-start;
  padding-top: 100px;
}

* {
  font-family: "Ubuntu", sans-serif;
}

#testimonial {
  margin-top: 150px;
  margin-bottom: 150px;
}

#pricing {
  margin-bottom: 150px;
}

.iphone {
  height: 600px;
}

.Reviewer_Name {
  padding-bottom: 40px;
}

.Company {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cta {
  padding: 3% 15%;
  background-color: #ff4c68;
  text-align: center;
  color: white;
}

#cta > section {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

@media (max-width: 767px) {
  .iphone {
    height: 400px;
  }

  .HeroText {
    padding-bottom: 50px;
    font-size: 2rem;
  }

  .Intro {
    padding-top: 0;
  }
  .Downloads {
    padding-top: 20px;
  }
}
